#teste1{
    background-color: black;
            width: auto;
            color: white;
            height: 120px;
            margin: 20px auto;
            padding-left:20px;
            padding-top:10px;
}