   {% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary container-fluid">
        <div class="container">
            <a class="nav-brand" href="https://portal.unigranrio.edu.br/">
                <img src="{% static 'img/logounigranrio.png' %}" width="50" alt="" height="50">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <il class="nav-item d-inline p-2 bg-primary">
                        <a class="nav-link" href="{% url 'inicio' %}">
                            <img src="{% static 'img/home.png' %}" width="20" alt="" height="20">
                            Início
                        </a>
                    </il>
                    <il class="nav-item dropdown d-inline p-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'img/s1.png' %}" width="20" alt="" height="20">
                            Tecido Sanguíneo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'sangue' %}">Sangue</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'eritocito' %}">Eritócito</a>
                            <a class="dropdown-item" href="{% url 'monocito' %}">Monócito</a>
                            <a class="dropdown-item" href="{% url 'basofilo' %}">Basófilo</a>
                            <a class="dropdown-item" href="{% url 'neutrofilo' %}">Neutrófilo</a>
                            <a class="dropdown-item" href="{% url 'eosinofilo' %}">Eosinófilo</a>
                            <a class="dropdown-item" href="{% url 'linfocito' %}">Linfócito</a>
                            <a class="dropdown-item" href="{% url 'plaqueta' %}">Plaqueta</a>
                        </div>
                    </il>
                    <il class="nav-item d-inline p-2 bg-primary">
                        <a class="nav-link" href="{% url 'referencias' %}">
                            <img src="{% static 'img/l1.png' %}" width="20" alt="" height="20">
                            Referências
                        </a>
                    </il>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="background-color:#5CABFF">
        <div class="invisible">
            Segundo
        </div>
        <div class="invisible">
            Segundo
        </div>
        <div class="invisible">
            Segundo
        </div>

        <div class="mx-auto p-5" style="width: 1000px; background-color:#A8D2FF;">
            <h4>
                Miniatlas: Elementos Figurados do Sangue
            </h4>
            <div class="invisible">
                ...
            </div>
            <div class="invisible">
                ...
            </div>
            <h4>
                Trabalho desenvolvido pelo Time 3 do curso de Biomedicina da Universidade do Grande Rio
            </h4>
            <div class="invisible">
                .
            </div>
            <h4>
                Participantes:
            </h4>
            <h4>
                6502001 - Guilherme Vieira
            </h4>
            <h4>
                6501547 - Julia de Paula Fernandes
            </h4>
            <h4>
                6501642 - Bruna Flor Ferreira
            </h4>
            <h4>
                6501560 - João Pedro Carvalho
            </h4>
            <h4>
                6501998 - Victória Estevão
            </h4>
            <h4>
                6501597 - Queren Zanoni
            </h4>
            <h4>
                6501121 - Renata Oliveira
            </h4>
            <div class="invisible">
                .
            </div>
            <div class="invisible">
                .
            </div>
            <h4>
                Professora Cristiane Latgé - SDE006-01 Morfologia
            </h4>
        </div>
        <div class="invisible">
            Segundo
        </div>
    </div>

    <div class="container-fluid bg-info" style="text-align:center">
        <div class="invisible">
            blue
        </div>
        <footer>
            <div class="container bg-info" style="text-align:center">
                <img src="{% static 'img/logo3.png' %}" width="400" alt="" height="100">
            </div>
        </footer>
        <div class="invisible">
            blue
        </div><div class="invisible">
            blue
        </div>
    </div>

    <script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>