{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Modelo</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

    <div class="bg-light">
        Código do site
    </div>

    <div class="bg-secondary">
        imagens
    </div>

    <div class="container">
        <h3>Olá</h3>

        <p>Conteúdo do site</p>
    </div>

    <div class="bg-light">
        Rodapé
    </div>



    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
